:root {
--color-prymary: #2E2F42;
--color-secondary: #f4f4fd;
--color-set: #434455;
--color-non: #FFFFFF;
--color-web: #4d5ae5;
--color-ger:#31d0aa;
--color-light-slate:#8e8f99;
--color-web: #
}

*,
*::before,
*::after {
box-sizing: border-box;
}

body {
color: var(--color-set);
background-color: var(--color-non);
font-family: 'Manrope';
font-size: 20px;
}

.container{
max-width: 1280px;
padding-left:100px;
padding-right:100px;
}

h1,h2,h3,h4,h5,h6{
margin: 0;
}

a {
text-decoration: none;
}

ul {
list-style-type: none;
margin: 0;
padding-left: 0;
}

img {
display: block;
}
/* heder */
.heder{

}
.heder-div{

}

.heder-logo{

}

.link-heder{

}

.logo-span{

}

.heder-wrap{

}

.heder-navigation{

}

.heder-list{

}

.heder-wrap-link{

}


.hero-adres{

}

.hero-socials-info{

}
.nav-mailto{

}

.tel{

}
/* hero */
.hero{

}

.hero-div{

}

.hero-info{

}

/* project-experience */

.project-experience{

}

.project-div{

}

.project-wrap{

}

.project-input{

}

.project-tabl{

}

/* tech-skills */

.tech-skills{

}

.tech-div{

}

.tech-wrap{

}

.tech-input{

}

.tech-tabl{

}

/* soft-skills */

.soft-skills{

}

.soft-div{

}

.soft-wrap{

}

.soft-input{

}

.soft-tabl{

}

/* section-languages */

.section-languages{

}

.section-languages-div{

}

.section-languages-wrap{

}

.languages-paragraf{

}

.section-languages-input{

}

.section-languages-tabl{

}

/* interests */

.section-interests{

}

.interests-div{

}